<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @cocktail.name %></h1>
        <ol>
          <%@cocktail.doses.each do |dose| %>
          <%if dose.ingredient.present? %>
          <li><%=dose.description%> - <%= dose.ingredient.name%>
          </li>
          <% end %>
          <% end %>
        </ol>
      <%= link_to 'Back', cocktails_path %>
    </div>
  </div>
</div>


